*{
    padding: 0;
    margin: 0;
}
button{
    background-color: rgb(0, 162, 255);
}
.pricetext{
    color: rgb(0, 162, 255);
}
#dropdownMenuButton{
    padding: 0px;
    height: 100%;
    padding-left: 4px;
    margin-top: 17px;
}
.dropdown-menu{
    background-color: rgba(58, 58, 54, 0.85);
    opacity: 100%;
}
.dropdown-item{
    margin: 0px;
    background-color: rgba(58, 58, 54, 0.85);
}
.dropdown-item a:hover{
    background-color: rgba(58, 58, 54, 0.85);
}
.dropdown-toggle{
    color: rgb(104, 194, 247);
}
.dropdown btn{
    color: rgb(104, 194, 247);
    margin: 0 auto;
    padding-top: 10px;
}
dropdown-toggle{
    padding-top: 10px;
}
.col-8 {
    padding: 0;
    margin: 0px auto;
}
.col-8 img{
    width: 92%;
    height: 87%;
    border-radius: 20px;
    border-width: 10px;
    border-color: rgba(58, 58, 54, 0.85);
}
.pricingrow { 
    border-radius: 20px;
    border-width: 10px;
    border-color: rgba(58, 58, 54, 0.85);
    padding-bottom: 0px;
    margin: auto;  
    max-width: 100%;
    background-color: rgb(225, 231, 238) ;
 }
#navsticky {
background-color: rgba(58, 58, 54, 0.85);
opacity: 100%;
margin: 0;
padding: 0;
}
#navsticky a{
    color: rgb(104, 194, 247);
    margin: auto;
    justify-content: space-between;
}
#navsticky a:hover{
    color: white;
    background-color: rgba(58, 58, 54, 0.85);
    text-decoration: none;
}
.Perrycation{
    font-weight: 50px;
    font-size: 30px;
}
#whole {
    padding: 0px;
    margin: 0px;
    background-color: rgb(225, 231, 238);
}
.carousel {
    margin: 0;
    height: 80%;
    width: 100%;
}
.carousel-indicators li {
    background-color: #669966;
  }
  .carousel-indicators .active {
    background-color: rgb(0, 162, 255);
  }